/* Add your CSS styles here */
body {
    font-family: Arial, sans-serif;
    background-color: lightseagreen;
}

#ship-stats {
    margin-top: 20px;
}
.ship-stats-block {
    border: 1px solid #000; /* Change the color as needed */
    padding: 10px;
    margin-bottom: 10px;
    max-width: 500px;
}
