/* Add your CSS styles here */

/* COMMON */

/* TRANSITION WHEN CHANGING PAGES */
html, body {
    background-color: MidnightBlue;
    outline: dashed black;
    transition: background-color 2.5s ease-in-out, opacity 2.5s ease-in-out;

}

.fade-in {
    opacity: 1 !important;
}


body {
    opacity: 50;
    color: white;
}





#volume-slider {
    width: 10%; /* Full-width */
    height: 5px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    transition: opacity .2s; /* Transition effect on hover */
}

#volume-slider:hover {
    opacity: 1; /* Fully visible on hover */
}

#volume-slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

#volume-slider::-moz-range-thumb {
    width: 5px; /* Set a specific slider handle width */
    height: 15px; /* Slider handle height */
    background: yellow; /* Green background */
    cursor: pointer; /* Cursor on hover */
}



#ship-stats {
    margin-top: 20px;
}

/* COMMON */

.ship-stats-block {
    border: 1px solid red; /* Change the color as needed */
    padding: 10px;
    margin-bottom: 10px;
    max-width: 500px;
}

.ship-stats-block-lite {
    border: 1px solid yellow; /* Change 'black' to any color you like */
    padding: 10px; /* Adjust as needed */
    margin-bottom: 10px; /* Adjust as needed */
}








/* ShipyardsPage */

#ship-quantity {
    color: white;
    font-weight: bold;
    background-color: darkblue;
    border: 2px dashed black;
}
#ship-dropdown {
    color: white;
    font-weight: bold;
    background-color: darkblue;
    border: 2px dashed black;
}
#client-dropdown {
    color: white;
    font-weight: bold;
    background-color: darkblue;
    border: 2px dashed black;
}

#user-credits {
    font-size: 20px;
    font-weight: bold;
    color: #008000;
    margin: 10px 0;
}
#ship-details {
    border: 2px solid yellow;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px; 
}
.build-info {
    border: 2px dashed yellow;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
}

#build-queue-container{
        border: 2px solid red;
        padding: 10px;
        margin: 10px 0;
}

.shipBtn {
        border: 1px dashed salmon;
        background-color: darkblue;
        color: white;
        padding: 0px 0px;
        margin: 10px 10px;
}
/* ShipyardsPage */



/* LINKS LINKS LINKS */
a {
    color: white; /* Unvisited link */
}

a:visited {
    color: goldenrod; /* Visited link */
}

a:hover {
    color: red; /* Mouse over link */
}

a:active {
    color: purple; /* Selected or clicked link */
}
/* LINKS LINKS LINKS */