/* Add your CSS styles here */
body {
    font-family: Arial, sans-serif;
    background-color: midnightblue;
    color: white;
}

#ship-stats {
    margin-top: 20px;
}
.ship-stats-block {
    border: 1px solid yellow; /* Change the color as needed */
    padding: 10px;
    margin-bottom: 10px;
    max-width: 500px;
}

.ship-stats-block-lite {
    border: 1px solid yellow; /* Change 'black' to any color you like */
    padding: 10px; /* Adjust as needed */
    margin-bottom: 10px; /* Adjust as needed */
}


/* LINKS LINKS LINKS */
a {
    color: white; /* Unvisited link */
}

a:visited {
    color: goldenrod; /* Visited link */
}

a:hover {
    color: red; /* Mouse over link */
}

a:active {
    color: purple; /* Selected or clicked link */
}
/* LINKS LINKS LINKS */